* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1.2rem;
}

.container {
    display: grid;
    grid-template-columns: 0.8fr 3fr;
}

.leftSide {
    background-color: rgb(25, 146, 212);
    color: rgb(237, 247, 251);
    font-weight: 600;
}

.sidebar ul li {
    display: flex;
    align-items: center;
    margin-bottom: 13px;
}

.rightSide {
    background-color: rgb(201, 219, 137);
}

.header {
    background-color: rgb(255, 255, 255);
    padding: 17px;
}

.main-content {
    background-color: rgb(226, 232, 240);
    display: flex;
    position: relative;
    padding: 25px;
}

.settings {
    margin-top: 52px;
}

.sidebar {
    padding: 25px;
}

.material-icons {
    width: 65px;
    filter: invert(1);
    text-align: center;
}

.upperNavbar {
    margin-bottom: 25px;

    & div:nth-child(1) {
        margin-right: auto;
    }

    & div:nth-child(2) {
        margin-right: 50px;

        & p {
            font-weight: 900;
        }
    }
}

.lowerNavbar {
    margin: 0 30px;
}

.lowerNavbar,
.upperNavbar {
    display: flex;
    color: black;
    justify-content: space-around;

    & div {
        display: flex;
        align-items: center;
    }
}

.lowerNavbar .welcomeMsgPlusProfileName {
    flex-direction: column;
    margin-right: auto;
    align-items: flex-start;

    & p:nth-child(1) {
        font-size: 0.85rem;
        font-weight: 900;
    }

    & p:nth-child(2) {
        font-size: 1.5rem;
        font-weight: 900;
    }

}

input[type='search'] {
    background-color: rgb(226, 232, 240);
    border-radius: 13px;
    border: none;
    width: 520px;
    height: 30px;
}

img[src="icons/search.svg"] {
    margin: 0 12px 0 20px;
}

img[src="icons/bell.svg"] {
    margin-right: 20px;
}

img[src="icons/myimg.png"] {
    filter: brightness(1.5);
    margin-right: 20px;
}

.newUploadShareBtns button {
    background-color: rgb(25, 146, 212);
    color: white;
    width: 100px;
    height: 41px;
    border-radius: 30px;
    font-size: 0.9rem;
    border: none;
    cursor: pointer;
    font-weight: 550;

    &:nth-child(2) {
        margin: 0 25px;
    }
}

.announcements::before {
    content: 'Announcements';
    position: absolute;
    font-weight: bold;
    top: 30px;
}

.trending::before {
    content: 'Trending';
    position: absolute;
    font-weight: bold;
    bottom: 487px;
}

.announcementsAndTrending {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 96px;
    margin: 40px 0;
}

.trendingCard {
    display: flex;
    margin: 10px 0;
    align-items: center;
}

.trendingAuthorPlusAppName p:nth-child(1) {
    font-weight: 800;
    margin-bottom: 3px;
}

.myProjects {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 26px;
    margin: 40px 0;

    &::before {
        content: 'Your Projects';
        position: absolute;
        font-weight: bold;
        top: 30px;
    }


    & .card {
        background-color: rgb(255, 255, 255);
        border-left: 7px solid rgb(240, 180, 41);
        border-radius: 7px;
        padding: 32px 20px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        & h5 {
            font-weight: 900;
            font-size: 1rem;
            margin-bottom: 5px;
        }

        &>p {
            font-size: 0.9rem;
        }

        & .icons {
            margin-top: auto;
            display: flex;
            justify-content: flex-end;

            & img:nth-child(2) {
                margin: 0 18px;
            }

            & img:nth-child(3) {
                margin-right: 16px;
            }
        }
    }
}

.announcements,
.trending {
    background-color: rgb(255, 255, 255);
    margin: 0 26px;
    width: 90%;
    padding: 25px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;

    & p {

        font-size: 0.8rem;
    }

    & h5 {
        font-weight: 900;
        font-size: 1rem;
        margin-bottom: 5px;
    }
}

hr {
    margin: 18px 0;
}

.appIcon img {
    margin-right: 14px;
}