* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1.2rem;
}

.container {
    display: grid;
    grid-template-columns: 0.8fr 3fr;
}

.leftSide {
    background-color: rgb(25,146,212);
    color: rgb(237,247,251);
    font-weight: 600;
}

.rightSide {
    background-color: rgb(201, 219, 137);
}

.sidebar ul li{
    display: flex;
    align-items: center;
    margin-bottom: 13px;
}


.settings{
    margin-top: 52px;
}

.sidebar {
    padding: 25px;
}

.material-icons{
    width: 65px;
    filter: invert(1);
    text-align: center;
}